<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="/magic.js"></script>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="../fortune.html" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Weight: <%=weight%> </h1>
    <h2>You exchanged <%= weight %> USD to <%= result %> <%= type %></h2>

  </div>
</div>
</body>
</html>