<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="../fortune.html" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h2>You exchanged <%= weight %> USD to <%= result %> <%= type %></h2>
    <br>
    <a href="../index.html">Go Shopping</a>
  </div>
</div>
</body>
</html>