<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="../public/fortune.html" class="lang-logo">
      <img src="/lang-logo.png">
    </a>   
    <h1> <%= first %> <%= last %></h1>
    <h2>Ranked as No <%= id %> richest money maker</h2>
    <h2>Has <%= money %> billion USD</h2>
  </div>
</div>
</body>
</html>